body {
  height: 300px;
  width: 300px;
  background: #000;
  color: #fff;
  margin: 0;
}
section {
  margin: 30px 20px;
}
.auth-section {
  text-align: center;
}
.auth {
  display: inline-block;
  margin-top: 20%;
  padding: 5px 10px;
  font-size: 4em;
  letter-spacing: 5px;
  border: 1px solid #fff;
}
.auth-hint {
  font-size: 1.2em;
}
a {
  color: #26ade4;
}
