body {
  height: 300px;
  width: 300px;
  background: #000;
  color: #fff;
  margin: 0;
}
section {
  margin: 30px 20px;
}
.code-section {
  display: none;
  text-align: center;
}
.code {
  display: inline-block;
  margin-top: 20%;
  padding: 5px 10px;
  font-size: 4em;
  letter-spacing: 5px;
  border: 1px solid #fff;
}
.code-hint {
  font-size: 1.2em;
}
a {
  color: #26ade4;
}
.suppress-section {
  display: none;
}
.login-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.email-verified .code-section,
.email-verified .suppress-section {
  display: block;
}
.email-verified .login-section {
  display: none;
}
